<div class="flex bg-gray-800">
	<div class="w-1/5 bg-gray-800">
		<label class="bg-green-300">IMAGEN</label>
	</div>

	<ul class="w-4/5 flex h-14 justify-around">

		<li class="text-2xl m-auto p-1 text-gray-400 hover:text-white">
			<a href="/">Inicio</a>
		</li>

		<li class="text-2xl m-auto p-1 text-gray-400 hover:text-white">
			<a href="/servicios">Servicios</a>
		</li>

		<li class="text-2xl m-auto p-1 text-gray-400 hover:text-white">
			<a href="/mascotas">Mascotas</a>
		</li>

		<li class="text-2xl m-auto p-1 text-gray-400 hover:text-white">
			<a href="/clientes">Clientes</a>
		</li>

		<li class="text-2xl m-auto p-1 text-gray-400 hover:text-white">
			<a href="/asasasa">Error 404</a>
		</li>

	</ul>

</div>